.custom-button {
    background-color: black;
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 0.85rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    display: inline-block;
    margin-top: 8px;
}

.custom-button:hover {
    background-color: #444;
}
